In [19]:
import pandas as pd

In [31]:
dataset = pd.read_csv("../dataset/health_data.csv")

In [32]:
corr_matrix = dataset.corr()
print(corr_matrix)

                  age    gender    height    weight     ap_hi     ap_lo  \
age          1.000000 -0.022811 -0.081515  0.053684  0.020764  0.017647
gender      -0.022811  1.000000  0.499033  0.155406  0.006005  0.015254
height      -0.081515  0.499033  1.000000  0.290968  0.005488  0.006150
weight       0.053684  0.155406  0.290968  1.000000  0.030702  0.043710
ap_hi        0.020764  0.006005  0.005488  0.030702  1.000000  0.016086
ap_lo        0.017647  0.015254  0.006150  0.043710  0.016086  1.000000
cholesterol  0.154424 -0.035821 -0.050226  0.141768  0.023778  0.024019
gluc         0.098703 -0.020491 -0.018595  0.106857  0.011841  0.010806
smoke       -0.047633  0.338135  0.187989  0.067780 -0.000922  0.005186
alco        -0.029723  0.170966  0.094419  0.067113  0.001408  0.010601
active      -0.009927  0.005866 -0.006570 -0.016867 -0.000033  0.004780
cardio       0.238159  0.008109 -0.010821  0.181660  0.054475  0.065719

             cholesterol      gluc     smoke      alco    active    cardio
age             0.154424  0.098703 -0.047633 -0.029723 -0.009927  0.238159
gender         -0.035821 -0.020491  0.338135  0.170966  0.005866  0.008109
height         -0.050226 -0.018595  0.187989  0.094419 -0.006570 -0.010821
weight          0.141768  0.106857  0.067780  0.067113 -0.016867  0.181660
ap_hi           0.023778  0.011841 -0.000922  0.001408 -0.000033  0.054475
ap_lo           0.024019  0.010806  0.005186  0.010601  0.004780  0.065719
cholesterol     1.000000  0.451578  0.010354  0.035760  0.009911  0.221147
gluc            0.451578  1.000000 -0.004756  0.011246 -0.006770  0.089307
smoke           0.010354 -0.004756  1.000000  0.340094  0.025858 -0.015486
alco            0.035760  0.011246  0.340094  1.000000  0.025476 -0.007330
active          0.009911 -0.006770  0.025858  0.025476  1.000000 -0.035653
cardio          0.221147  0.089307 -0.015486 -0.007330 -0.035653  1.000000

In [33]:
dataset.drop(['gender', 'height', 'ap_hi', 'ap_lo', 'smoke', 'alco', 'active', 'gluc'], axis = 1, inplace=True)

In [29]:
dataset

         age  weight  cholesterol  gluc  cardio
0      18393    62.0            0     0       0
1      20228    85.0            2     0       1
2      18857    64.0            2     0       1
3      17623    82.0            0     0       1
4      17474    56.0            0     0       0
...      ...     ...          ...   ...     ...
69995  19240    76.0            0     0       0
69996  22601   126.0            1     1       1
69997  19066   105.0            2     0       1
69998  22431    72.0            0     1       1
69999  20540    72.0            1     0       0

[70000 rows x 5 columns]

In [34]:
dataset.shape
dataset.to_csv("feature_engg_dataset.csv", index = False)